    <!-- <div class="container"> -->
        <!-- <h1 id="h" class="text-center mt-5 text-light">HEROO</h1>
        <div class="row ">
           <div class="col-3" >
             <input type="text" class="form-control" [(ngModel)]="hero.name">
           </div>
       
           <div class="col-3">
              <input type="text" class="form-control" [(ngModel)]="hero.power">
           </div>
           <div class="col-3">
              <input type="text" class="form-control" [(ngModel)]="hero.image_url">
           </div>
            <div class="col-3">
              <button type="button" class="btn form-control" (click)="change()"> Create</button>
           </div> -->
           <!-- <app-ajouter></app-ajouter> -->

           <!-- <div class="row mt-5">
            <div class="col-3 mt-5" *ngFor="let item of heros">
            <div [ngClass]="{'card': true, higth : item.power > 100 , 'medieum' : item.power < 100 && item.power > 50  ,'low' : item.power<50 }">
                <div class="card-image">
                    <img [src]="item.image_url" class="image" alt="">
                </div>
                <div class="card-body">
                    <h2>{{item.name}}</h2>
                    <p>{{item.power}}</p>
                </div>
            </div>
           </div> -->
           <!-- <app-list></app-list> -->
            <!-- <router-outlet></router-outlet> -->
           <!-- <div class="col-3 mt-5">
            <div class="card">
                <div class="card-image">
                    <img src="https://wallpapercat.com/w/full/3/0/7/930053-2048x1152-desktop-hd-monkey-d-luffy-wallpaper-photo.jpg" class="image" alt="">
                </div>
                <div class="card-body">
                    <h2>Mankedy luffy</h2>
                    <p>22</p>
                </div>
            </div>
           </div> -->


           <!-- <div class="col-3 mt-5">
            <div class="card">
                <div class="card-image">
                    <img src="https://wallpapercat.com/w/full/3/0/7/930053-2048x1152-desktop-hd-monkey-d-luffy-wallpaper-photo.jpg" class="image" alt="">
                </div>
                <div class="card-body">
                    <h2>Mankedy luffy</h2>
                    <p>22</p>
                </div>
            </div>
           </div> -->
<!--           
    </div> -->