.btn{
    background-color: brown;
}
.image{
    width: 300px;
    height: 150px;
    padding: 5px;
}
.higth
{
    background-color: red;
}
.medieum{
    background-color: yellowgreen;
}
.low {
    background-color: pink;
}